{% extends 'manager/base.html' %}

{% block title %} Управление на менюто {% endblock %}

{% block sub_title %} ~ Управление на менюто ~ {% endblock %}

{% block content %}
    <button onclick="location.href='{% url 'manager_home' %}'" class="btn">Назад</button>

    <table id="orders-cooks"  border=1 frame=void rules=rows>
        <thead>
            <tr>
                <th>Име</th>
                <th>Променяне на ястие</th>
                <th>Изтриване на ястие</th>
            </tr>
        </thead>
        {% for dish in dishes %}
            <tbody>
                <tr>
                    <td><strong>{{ dish.name }}</strong></td>
                    <td><button class="btn"><a href="{% url 'edit_dish' dish.pk %}">Промени</a></button></td>
                    <td><button class="btn"><a href="{% url 'delete_dish' dish.pk %}">Изтрий</a></button></td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}
