{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Административен панел</title>
    <link rel="stylesheet" type="text/css" href="{% static 'manager/home.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kurale&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header-wrap">
        <header class="header">
            WebOrder <span>Мениджър</span>
        </header>
    </div>

    <div class="content">
        <div class="btns">
            <ul>
                <li><button class="btn create"><a href="{% url 'manager_home' %}">Начално меню</a></button></li>
            </ul>
        </div>

        <h1>Управление на масите</h1>

        <table id="orders-cooks"  border=1 frame=void rules=rows>
            <thead>
                <tr>
                    <th>Име</th>
                    <th>Променяне на ястие</th>
                    <th>Изтриване на ястие</th>
                </tr>
            </thead>
            {% for dish in dishes %}
                <tbody>
                    <tr>
                        <td><strong>{{ dish.name }}</strong></td>
                        <td><button class="btn"><a href="{% url 'edit_dish' dish.pk %}">Промени</a></button></td>
                        <td><button class="btn"><a href="{% url 'delete_dish' dish.pk %}">Изтрий</a></button></td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
</body>
