{% extends 'manager/base.html' %}

{% block title %} Промяна на ястие {% endblock %}

{% block sub_title %} ~ Промяна на ястие ~ {% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <ul>
	        <li>Име: {{ form.name }}</li>
	        <li>Съставки: {{ form.ingredients }}</li>
	        <li>Количество: {{ form.quantity }}</li>
	        <li>Цена: {{ form.price }} лв</li>
	        <li>Категория: {{ form.category }}</li>
	        <li>Снимка: {{ form.image }}</li>
	        <input type="submit" value="Промени" class="btn">
	        <button class="btn"><a href="{% url 'dashboard' %}">Назад</button>
        </ul>  
    </form>
{% endblock %}
