{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'manager/qr.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kurale&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header-wrap">
        <header class="header">
            WebOrder
        </header>
    </div>

    <div class="content">
        <h1 class="subtitle">~ QR кодове ~</h1>

        <button class="btn"><a href="{% url 'manager_home' %}">Назад</a></button>

        {% for table, qr in display %}
            <h2>{{ table.id }}</h2>
            <img src="{{ qr.qr_code.url }}" alt="">
        {% endfor %}
    </div>
</body>
</html>