* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ebe8e1;
}

.header-wrap {
	height: 110px;
}

.header {
	position: fixed;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 0px;
    height: 110px;
    margin: 0;
    width: 100%;
    font-size: 325%;
    font-family: 'Kurale', serif;
    display: flex;
    justify-content: space-between;
    vertical-align : middle;
    border-bottom: 1px solid grey;
    background-color: #ebe8e1;
}

.btns {
	margin-bottom: 30px;
}

a {
	text-decoration: none;
    color: black;
}

.content {
    display: table;
    margin: auto;
    color: #a73b07d6;
}

.subtitle {
    text-align: center;
}

ul {
    list-style-type: none;
    color: black;
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
}
