* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #efefef;
}

.header-wrap {
	height: 110px;
}

.header {
	position: fixed;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 0px;
    height: 110px;
    margin: 0;
    width: 100%;
    font-size: 300%;
    font-family: 'Kurale', serif;
    display: flex;
    justify-content: space-between;
    vertical-align : middle;
    border-bottom: 1px solid grey;
    background-color: #383d58;
    color: white;
}

.btns {
	display: table;
    margin: auto;
}

h1 {
    display: table;
    margin: auto;
    padding-bottom: 20px;
}

li {
    display: inline-block;
    margin-bottom: 5px;
}

a {
	text-decoration: none;
    color: white;
}

.content {
	display: table;
    margin: auto;
}

table {
	color: black;
    display: table;
    margin: auto;
}

th, td {
    font-size: 120%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.check {
    padding-left: 10px;
}

.btn {
    display: table;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: 2em;
    border: none;
    outline: none;
    background-color: #383d58;
    color: white;
}

.create {
    font-size: 120%;
}

.btn:hover {
    background-color: #ada095;
}

.btn:active {
  background-color: #9a9189;
}
