* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ebe8e1;
}

.header-wrap {
	height: 110px;
}

.header {
	position: fixed;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 0px;
    height: 110px;
    margin: 0;
    width: 100%;
    font-size: 325%;
    font-family: 'Kurale', serif;
    display: flex;
    justify-content: space-between;
    vertical-align : middle;
    border-bottom: 1px solid grey;
    background-color: #ebe8e1;
}

.btns {
	margin-bottom: 30px;
}

a {
	text-decoration: none;
    color: black;
}

.content {
	display: table;
    margin: auto;
    color: #a73b07d6;
}

.admin-panel {
    text-align: center;
}

table {
	color: black;
}

th {
    font-size: 120%;
}

.btn {
    display: table;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: 2em;
    border: 2px solid #c3b3a4;
    outline:none;
    background-color: #ebe8e1;
    color: #56404d;
}

.create {
    font-size: 120%;
}

.btn:hover {
    background-color: #ada095;
}

.btn:active {
  background-color: #9a9189;
}
